.tic-tac-toe {
    margin: auto;
    text-align: center;
    padding: 0 10px 10px 10px;
}

.tic-tac-toe .container{
    width: 306px;
    height: 306px;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.item {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    line-height: 100px;
    background-color: #1c8c3b87;
    font-size: xx-large;
    box-shadow: 5px 4px 3px #739e62;
}