.dialog {
    border: 1px solid #bfbfbf57;
    border-radius: 5px;
    /* box-shadow: 10px 10px 10px #7f7c7c; */
    box-shadow: 7px 8px 2px #3a3939b0;
    padding: 15px;
    margin: 5px;
    /* width: 20%; */
    min-width: 30vw;
    min-height: 30vh;
    align-content: center;
    justify-content: center;
    background: rgb(39, 40, 34);
    color: white;
    text-align: center;
}

button {
    cursor: pointer;
}

.dialog-wrapper {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #737373a8;
}