body {
  background-color: rgb(0, 121, 191);
}

.main-header {
  text-align: center;
  background: rgba(0,0,0,.15);
  padding: 5px 0 0;
  width: 100%;
  margin: 0;
  font-style: italic;
}

.main-header img {
  width: 80px;
  height: 30px;
  opacity: .5;
  cursor: pointer;
}

.main-header img:hover {
  opacity: .8;
}

#board {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 0 8px 4px;
  height: 100vh;
}

.js-add-list, .list-wrapper {
  width: 272px;
  margin: 0 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.list-wrapper:last-child {
  margin-right: 8px;
}

.js-add-list {
  background-color: #dfe3e6;
  border-radius: 3px;
  height: auto;
  min-height: 32px;
  padding: 4px 4px 0;
  transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
}

.list {
  background-color: #dfe3e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.list-header {
  flex: 0 0 auto;
  padding: 10px 8px 8px;
  position: relative;
  min-height: 20px;
  margin: 0 0.5em;
  font-weight: bold;
  font-size: 14px;
}

.list-header.is-menu-shown, .list-header.is-subscribe-shown {
  padding-right: 36px;
}

.list-cards {
  flex: 1 1 auto;
  margin: 0 4px;
  padding: 0 4px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 4px;
  z-index: 1;
  min-height: 0;
}

.card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,45,66,.25);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  color: #17394d;
  overflow: hidden;
  padding: 9px 8px 6px;
}

.card:hover {
  background-color: #f5f6f7;
  border-bottom-color: rgba(9,45,66,.25);
}

.card-list-title {
  display: block;
  margin: 0 0 4px;
  overflow: hidden;
  text-decoration: none;
  word-wrap: break-word;
  color: #17394d;
  font-size: 14px;
}

.list-name-input {
  background: #fff;
  border: 1px solid #5ba4cf;
  box-shadow: 0 0 0 1px #5ba4cf;
  display: block;
  margin: 0;
  transition: margin 85ms ease-in,background 85ms ease-in;
  width: 100%;
}

.card-composer {
  padding: 4px 8px;
}

.list-cards .card-composer {
  padding: 0;
}

.open-card-composer {
  border-radius: 0 0 3px 3px;
  color: #6b808c;
  display: block;
  flex: 0 0 auto;
  padding: 8px;
  padding-left: 12px; 
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
}

.open-card-composer:hover {
  background-color: rgba(9,45,66,.13);
  color: #17394d;
  text-decoration: underline;
}

.icon-add:before {
  content: "+";
}

button, input:not([type=file]), textarea {
  background-color: #ebeef0;
  border: 1px solid #dfe3e6;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 3px;
  display: block;
  line-height: 20px;
  margin: 0;
  padding: 6px 8px;
  transition-property: background-color,border-color,box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
  background: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  box-shadow: 0 1px 0 rgba(9,45,66,.25);
}

.button.primary, button.primary{
  background-color: #5aac44;
  box-shadow: 0 1px 0 0 #3f6f21;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 20px;
  margin: 6px 0;
  padding: 6px 12px;
  font-size: 14px;
}

textarea:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

textarea {
  width: 100%;
  max-height: 162px;
  min-height: 66px;
  overflow-y: auto;
  padding: 4px;
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
  height: 54px;
}

.icon-sm {
  font-family:font-awesome;
  height: 20px;
  font-size: 19px;
  line-height: 20px;
  width: 20px;
  user-select: none;
  margin-right: 4px;
  text-decoration: none !important;
}